---
import { AnimatedProjectsSection } from "../components/AnimatedProjectsSection";
import MainLayout from "../layouts/main-layout.astro";

const projects = [
  {
    img: "/project1.jpg",
    name: "Ventosas Terapéuticas",
    text: "Ayuda a aliviar el dolor y la tensión muscular.",
  },
  {
    img: "/project2.jpg",
    name: "Masajes Relajantes",
    text: "Ayuda a aliviar el estrés y la ansiedad.",
  },
  {
    img: "/project3.jpg",
    name: "Faciales de Lujo",
    text: "Tratamientos de belleza para una piel radiante.",
  },
  {
    img: "/project4.jpg",
    name: "Faciales Hidratantes",
    text: "Hidratación profunda para una piel suave y tersa.",
  },
  {
    img: "/project5.jpg",
    name: "Masajes Descontracturantes",
    text: "Alivio del dolor y la tensión muscular para una sensación de bienestar.",
  },
  {
    img: "/project6.jpg",
    name: "Masajes Reductores",
    text: "Masajes para reducir la grasa localizada y mejorar la circulación sanguínea.",
  },
  {
    img: "/project7.jpg",
    name: "Masajes Teraupéticos",
    text: "Masajes para aliviar dolores musculares y tensiones.",
  },
  {
    img: "/project8.jpg",
    name: "Terapias Rehabilitadoras",
    text: "Terapias para recuperar la movilidad y la fuerza muscular.",
  },
  {
    img: "/project9.jpg",
    name: "Terapias Con Ventosas",
    text: "Terapias para aliviar el dolor y la tensión muscular.",
  },
  {
    img: "/project10.jpg",
    name: "Terapias Con Acupuntura",
    text: "Terapias para aliviar el dolor y mejorar la salud.",
  },
  {
    img: "/project11.jpg",
    name: "Terapias Carboxiterapia",
    text: "Terapias para mejorar la circulación y reducir la celulitis.",
  },
  {
    img: "/project12.jpg",
    name: "Terapias Conoterapia",
    text: "Terapias para mejorar la circulación y reducir la celulitis.",
  },
  {
    img: "/project13.jpg",
    name: "Nutrición y Dietética",
    text: "Asesoramiento nutricional para mejorar la salud y el bienestar.",
  },
  {
    img: "/project14.jpg",
    name: "Limpieza Facial",
    text: "Tratamientos de belleza para una piel radiante y saludable.",
  },
  {
    img: "/project15.jpg",
    name: "Hidratacion Facial",
    text: "Tratamientos de belleza para una piel suave y tersa.",
  },
  {
    img: "/project16.jpg",
    name: "Depilacion Con Laser",
    text: "Depilación definitiva para una piel suave y sin vello.",
  },
];
---

<MainLayout title="Melari Spa">
  <!-- Banner Section -->
  <section class="w-full bg-services h-[50vh] flex justify-center items-end">
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Services
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
      >
        <a href="/">Home</a> / Services
      </p>
    </div>
  </section>

  <!-- Services Section -->
  <AnimatedProjectsSection projects={projects} />
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
