---
import MainLayout from "../layouts/main-layout.astro";
import Service1 from "../icons/service1.tsx";
import Service2 from "../icons/service2.tsx";
import Service3 from "../icons/service3.tsx";
import Service4 from "../icons/service4.tsx";
import Service5 from "../icons/service5.tsx";
import Service6 from "../icons/service6.tsx";

const services = [
  {
    title: "Project Plan",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service1,
  },
  {
    title: "Interior Work",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service2,
  },
  {
    title: "Realization",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service3,
  },
  {
    title: "2d/3d Art Work",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service4,
  },
  {
    title: "Retail design",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service5,
  },
  {
    title: "Decoration Work",
    text: "There are many variations of the passages of lorem Ipsum from available, majority.",
    icon: Service6,
  },
];
---

<MainLayout title="Melari Spa">
  <!-- Banner Section -->

  <section class="w-full bg-services h-[50vh] flex justify-center items-end">
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200"
      >
        Services
      </h1>
      <p
        class="text-base lg:text-[22px] lg:leading-[33px] tracking-tight font-jost text-text-gray"
      >
        <a href="/">Home</a> / Services
      </p>
    </div>
  </section>

  <!-- Services Section -->

  <section
    class="lg:max-w-[1200px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-12 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-between"
  >
    {
      services.map((service, index) => {
        const IconComponent = service.icon;
        return (
          <div
            key={index}
            class="w-full col-span-1 max-w-[358px] mx-auto flex rounded-[30px] hover:bg-primary-300 px-5 py-[83px] flex-col justify-center items-center gap-3 md:gap-5"
          >
            <IconComponent />
            <h3 class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose">
              {service.title}
            </h3>
            <p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">
              {service.text}
            </p>
          </div>
        );
      })
    }
  </section>

  <!-- Inner Sections End -->
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
